
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" role="tablist" style="max-width: 300px;">
          <li role="presentation">
            <%= link_to 'Media' , media_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Articles' , articles_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Comments' , comments_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Categories' , categories_path %>
          </li>
        </ul>
    </div>

    <div class="col-md-10">


    </div>
</div>
