<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%= yield(:title) %></title>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/page_mp_article22dae5.css" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/page_mp_article_pc227bf3.css"/>
  <![endif]-->
</head>
<body>


<div id="js_article" class="rich_media">
  <div id="js_top_ad_area" class="top_banner"></div>
  <%= yield %>
</div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253872782'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253872782%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>