<!DOCTYPE html>
<html>
<head>
  <title> </title>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/page_mp_article22dae5.css" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/page_mp_article_pc227bf3.css"/>
  <![endif]-->
</head>
<body>


<div id="js_article" class="rich_media">
  <div id="js_top_ad_area" class="top_banner"></div>
  <%= yield %>
</div>
</body>
</html>